body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #BFEA7C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    color: #416D19;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    color: #416D19;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #9BCF53;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #9BCF53;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #416D19;
}

.search_select_box {
    margin-bottom: 10px;
}


